
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .ex9 {
      grid-column: 1 / 13;
      text-align: center;
    }

    .ex3 {
      grid-column: 10 / 13;
      display: flex;
      align-items: center;
      margin-top: 5px;
    }

    .__text {
      line-height: 15px;
      text-transform: uppercase;
      color: var(--gray-medium);
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: 800;
      width: 100%;
      transition: 0.3s all ease;
      display: block;
      text-decoration: none;
      

      &.version {
        text-align: right;

        &:hover {
          color: rgba(243, 12, 12, 0.5);
        }
      }

      &:hover {
        color: #000;
        cursor: pointer;
      }
    }
  }
