@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

$light: #f9f9f9;
$blueElect: #000c1b;
$gray: #ededed;
$gray-medium: #b2b2b2;
$gray-dark: #999999;
$vine: #d13639;

body {
  background: $light;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.form_registro {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 400px) auto;

  @media screen and (max-width: 425px) {
    grid-template-columns: minmax(100%, 400px) auto;
  }

  .registro {
    background: $blueElect;
    padding: 50px 55px;
    min-height: 500px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    display: flex;

    @media screen and (max-width: 425px) {
      padding: 50px 35px;
    }

    .header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .first {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        align-content: center;
        align-items: center;

        .__logo {
          width: 40px;
          top: 20px;
        }
      }

      .sub_title {
        font-size: 25px;
        text-align: center;
        // margin-top: 65px;
        margin-bottom: 20px;
        font-family: system-ui;
        font-weight: 600;
        color: white;
        letter-spacing: -1px;
      }
    }

    .body_form {
      .wrapper_inputs {
        .control-input {
          display: flex;
          position: relative;
          margin-bottom: 15px;

          .input_registro {
            width: 100%;
            height: 28px;
            border: solid transparent 1px;
            padding: 6px 8px;
            font-family: "Montserrat", sans-serif;
            background: $blueElect;
            color: #fff;
            border-radius: 3px;
            outline: none;
            font-size: 16px;
            transition: all 0.3s ease;
            border-color: rgb(109, 106, 106);

            &:hover {
              border-color: rgb(255, 253, 253);
            }

            &:focus {
              border-color: #38d3ee;
            }
            
            &:focus ~ .__labelx {
              color: #38d3ee;
            }

            &:focus ~ .__labelx,
            &:valid ~ .__labelx {
              top: 2px;
              background: $blueElect;
              font-size: 10px;
              left: 10px;
              padding: 0 10px;
            }
          }

          .__labelx {
            text-transform: uppercase;
            position: absolute;
            font-size: 10px;
            font-family: "Montserrat", sans-serif;
            font-weight: 800;
            color: $gray-dark;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            transition: all 0.15s ease;

            z-index: 10;
            height: 15px;
          }
        }

        .container-check {
          display: block;
          position: relative;
          padding-left: 25px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 14px;
          color: $gray-dark;
          user-select: none;

          .label {
            transition: 0.1s all ease;
            font-weight: 600;
            font-size: 12px;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .checkmark:after {
              display: block;
            }

            &:hover ~ .checkmark {
              background: darken($gray, 2);
            }
            &:checked ~ .checkmark {
              background-color: $vine;
            }

            &:checked ~ .label {
              color: #000;
            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            transform: scale(0.9);
            background-color: $gray;
            border-radius: 3px;
            transition: 0.1s all ease;

            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }

          .checkmark:after {
            left: 5px;
            top: 0px;
            width: 5px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg) scale(0.7);
          }
        }
      }

      .button_registro {
        text-align: center;
        margin: 55px 0 60px 0;

        .__login {
          border: solid 2px darken($gray, 1.5);
          outline: none;
          font-size: 18px;
          padding: 7px 16px;
          border-radius: 15px;
          font-weight: 800;
          color: #000;
          background: $light;
          cursor: not-allowed;
          user-select: none;
          transition: 0.1s all ease;

          &.__checked {
            border: solid 2px $vine;
            background: $vine;
            cursor: pointer;
          }

          &.__ckecked:hover {
            background: darken($vine, 9);
            border-color: darken($vine, 9);
          }

          &.__checked:active {
            background: darken($vine, 15);
            border-color: darken($vine, 15);
          }
        }
      }
    }
  }
}




