@import './colores';

//@import url('https//db.onlinewebfonts.com/c/6633a78ec47bc270550144ed9f284036?family=FF+Mark');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");


body {
  background: var(--light);
  font-family: "Montserrat", sans-serif;
  user-select: none;
}













// animacion
.App-logo {
  animation: App-logo-spin infinite 1s linear;
  //clase para girar un componentes
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

